fastapi
uvicorn[standard]
sqlalchemy
google-genai
python-multipart
aiohttp
requests
reportlab
pydantic
python-dotenv
pefile
yara-python
markdown
psutil          # For Hardware Monitor
scapy           # For Network Forensics
stegano         # For Steganography
feedparser      # For Threat Intelligence
pillow          # Image Processing
websockets      # For Live Data